.roadmapPage {
  .dot {
    padding-left: 17px;
    position: relative;
    &::before {
      position: absolute;
      top: 10px;
      left: 1px;
      content: '';
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #F7F7F7;
      display: block;
    }
  }
}